In [3]:
import pandas as pd
import numpy as np
employee =pd.read_csv("nba.csv")

In [4]:
#V Copying the grouping & aggregate results back to the original data frame
#group. transform() function calculates aggregate on each group, returns the result and populates 
#it to all rows in the order of the original index
employee['AVG_SALARY'] = employee.groupby('Team').Salary.transform('mean')
print(employee.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary    AVG_SALARY
0              Texas  7730337.0  4.181505e+06
1          Marquette  6796117.0  4.181505e+06
2  Boston University        NaN  4.181505e+06
3      Georgia State  1148640.0  4.181505e+06
4                NaN  5000000.0  4.181505e+06

In [12]:
#Group records by department, and loop through each group to order records by hire date.
employee_new = employee.groupby('Team',as_index=False).apply(lambda x:x.sort_values('Age')).reset_index(drop=True)
print(employee_new.head())

               Name           Team  Number Position   Age Height  Weight  \
0   Dennis Schroder  Atlanta Hawks    17.0       PG  22.0    6-1   172.0
1  Tim Hardaway Jr.  Atlanta Hawks    10.0       SG  24.0    6-6   205.0
2      Mike Muscala  Atlanta Hawks    31.0       PF  24.0   6-11   240.0
3   Lamar Patterson  Atlanta Hawks    13.0       SG  24.0    6-5   225.0
4    Walter Tavares  Atlanta Hawks    22.0        C  24.0    7-3   260.0

      College     Salary    AVG_SALARY
0         NaN  1763400.0  4.860197e+06
1    Michigan  1304520.0  4.860197e+06
2    Bucknell   947276.0  4.860197e+06
3  Pittsburgh   525093.0  4.860197e+06
4         NaN  1000000.0  4.860197e+06

In [15]:
#rank within group
employee["rank"] = employee.groupby("Team")["Age"].rank("dense", ascending=False)
print(employee.tail(10))

               Name       Team  Number Position   Age Height  Weight  \
448  Gordon Hayward  Utah Jazz    20.0       SF  26.0    6-8   226.0
449     Rodney Hood  Utah Jazz     5.0       SG  23.0    6-8   206.0
450      Joe Ingles  Utah Jazz     2.0       SF  28.0    6-8   226.0
451   Chris Johnson  Utah Jazz    23.0       SF  26.0    6-6   206.0
452      Trey Lyles  Utah Jazz    41.0       PF  20.0   6-10   234.0
453    Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0
454       Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0
455    Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0
456     Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0
457             NaN        NaN     NaN      NaN   NaN    NaN     NaN

      College      Salary    AVG_SALARY  rank
448    Butler  15409570.0  4.204006e+06   2.0
449      Duke   1348440.0  4.204006e+06   4.0
450       NaN   2050000.0  4.204006e+06   1.0
451    Dayton    981348.0  4.204006e+06   2.0
452  Kentucky   2239800.0  4.204006e+06   5.0
453    Butler   2433333.0  4.204006e+06   2.0
454       NaN    900000.0  4.204006e+06   3.0
455       NaN   2900000.0  4.204006e+06   2.0
456    Kansas    947276.0  4.204006e+06   2.0
457       NaN         NaN           NaN   NaN